
h1,
h2,
h3 {
  line-height: 1.1;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--clr-space-deep);
  color: #fff;
  overflow-x: hidden;
}


/* 
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-weight: 400;
}
 */