$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;


$breakpoints: (
  sm: 30em,
  md: 50em,
  lg: 75em,
);

$colors: (  // "map-get($colors, "text");"
  "text": #eee,
  "background": #1e232c,
  "primary": #2f343d,
  "secondary": #404a5a,
  "accent": #00f3f3,

  "space-deep": #0d001a,
  "dead-red": #ff006e,
  "alive-green": #00ff88,
  "unknown-gray": #8d99ae,
  "portal-green": #00ff88,
  "portal-glow": rgba(0, 255, 133),
);

//--portal-green: #00ff88;
//  --portal-glow: rgba(0, 255, 133);
//  --space-purple: #1a0033;

//  --electric-blue: #00d9ff;
//  --rick-cyan: #44d9e8;
//  --morty-yellow: #f5d742;



/**
 * Use Utopia to generate responsive font sizes
 * @link https://utopia.fyi/type/calculator
 */
$font-sizes: (  //  font-size: map-get($font-sizes, "500");
  "300": 0.875rem,
  "400": 1rem,
  "500": 1.25rem,
  "600": 1.5rem,
  "700": 2rem,
  "800": 2.5rem,
  "900": 3.5rem,
);

$font-weights: (  // font-weight: map-get($font-weights, "500");
  "light": 300,
  "regular": 400,
  "bold": 700,
);

